*{box-sizing: border-box;}
body {
    height: 100%;
    --stripe: #ff9100c7;
    --bg: #ff910049;
  
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
}
h1{
    text-align: center;
    color:dodgerblue
}
h2{
    text-align: left;
    font-style: italic;
    font-size: 18px;
    color:darkslateblue;
}
form {
    width: 450px;
}
label {
    display: block;
    margin-bottom: .25rem;
    align-items: center;
    color: blueviolet;
    font-size: 22px;
}
input {
    display: block;
    width: 100%;
    align-items: center;
    border: 3px solid yellow;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 0, 51, 0.5);
}
input:focus{
    outline: 3px solid rgb(204, 0, 255);
}
input::placeholder{
    color: aqua;
    opacity: 1;
}
select{
    display: block;
    width: 100%;
    align-items: center;
    border: 3px solid yellow;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 0, 51, 0.5);
}
select:focus{
    outline: 3px solid rgb(204, 0, 255);

}
select::placeholder{
    color: aqua;
    opacity: 1;
}
.form_row {
    margin-bottom: 1rem;
}
div{
    color: black;
    font-weight: bolder;
}
button {
    background-color: rgba(255, 0, 51, 0.5);
    border: 3px solid green;
    border-radius: 70%;
    padding: 20px;
    font-size: 25px;
    font-style: italic;
    margin: 4px 12px;
    cursor:pointer;
    transition: all 1.5s;
    color:mistyrose;
}
button:hover{
    background-color: blue;
    color: rgb(204, 0, 255);
}

.nesto {
    display: flex;
    gap: 1rem;
}

table button{
    padding: 2px;
    font-size: 16px;
}
th, td {
    border-collapse: collapse;
    height: 20px;
    color: blue;
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid #ddd;
    background-color: #fffb00a6
}
th {
    background-color: yellowgreen;
}
tr {
    border: 2px solid red;
    border-collapse: collapse;
    color: green;
    text-align: center;
}
tr:hover {
    background-color: coral;
}
tr:nth-child(even) {
    background-color: #fffb00a6;
}
tr:nth-child(even):hover {
    background-color: coral;
}

/* --------------------- */
/* dodat modal */
.show-modal {
    font-size: 25px;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: orange;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}